// 通用卡片样式 mixin
.cardHover {
  background: var(--flec-card-bg);
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, .05);
  transition: all .3s;
  border-radius: 8px;
  backdrop-filter: blur(3px);

  &:hover {
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, .09);
  }
}

// 通用图片悬停样式 mixin
.imgHover {
  width: 100%;
  height: 100%;
  transition: filter 375ms ease-in .2s, transform .6s;
  object-fit: cover;

  &:hover {
    transform: scale(1.1);
  }
}

