:root {
  /* 主题色 */
  --theme-color: #49B1F5;
  --theme-meta-color: #666666;
}

[data-theme='light'] {
  --font-color: #4c4948;
  --font-light-color: #ffffff;

  --flec-card-bg: #ffffffd0;
  --flec-page-bg: #ffffff66;
  --flec-btn: #49B1F5;
  --flec-btn-hover: #78c2f4ff;
  --flec-heavy-bg: #f5f5f5;
  --flec-border: #e0e0e0;

  --flec-nav-font: #eeeeee;
  --flec-nav-font-hover: #ffffff;
  --flec-nav-fixed-font: #4c4948;
  --flec-nav-fixed-font-hover: #33302f;
  --flec-nav-focus: #49B1F5;
  --flec-nav-bg: #fffffff2;
  --flec-nav-menu-bg: #f6f8fa;
  --flec-nav-menu-bg-hover: #49B1F5;

  --flec-footer-icon: #121212;
  --flec-footer-icon-hover: #eee;
  --flec-footer-icon-bg-hover: #4c4948;
  --flec-footer-font: #121212;
  --flec-footer-font-hover: #ffffff;
  --flec-footer-font-bg-hover: #49b1f5b3;

  --flec-moment-font: #4c4948;
  --flec-moment-title: #333;
  --flec-moment-date: #4c4948;
  --flec-moment-divider: #eee;
  --flec-moment-card-bg: #f6f6f6;

  --flec-subscribe-button: #222;
  --flec-subscribe-blue: #425aef;
  --flec-subscribe-font: #4c4948;
  --flec-subscribe-background: #f7f7f9;
  --flec-subscribe-secondbg: #f0f0f0;
  --flec-subscribe-card-border: #e0e0e0;
  --flec-subscribe-wechat: #27c125;
  --flec-subscribe-mail: #425aef;
  --flec-subscribe-rss: #e38100;
}

/* 暗色主题 */
[data-theme='dark'] {
  --font-color: #ffffffb3;
  --font-light-color: #ffffffb3;

  --flec-card-bg: #121212b0;
  --flec-page-bg: #00000000;
  --flec-btn: #1f1f1f;
  --flec-btn-hover: #787878;
  --flec-heavy-bg: #1f1f1f;
  --flec-border: #3a3a3a;

  --flec-nav-font: #b8b8b8;
  --flec-nav-font-hover: #cfcfcf;
  --flec-nav-fixed-font: #b8b8b8;
  --flec-nav-fixed-font-hover: #cfcfcf;
  --flec-nav-focus: #cfcfcf;
  --flec-nav-bg: #000000ee;
  --flec-nav-menu-bg: #121212cc;
  --flec-nav-menu-bg-hover: #363636;

  --flec-footer-icon: #b8b8b8;
  --flec-footer-icon-hover: #555;
  --flec-footer-icon-bg-hover: #b8b8b8;
  --flec-footer-font: #b8b8b8;
  --flec-footer-font-hover: #eee;
  --flec-footer-font-bg-hover: #383838;

  --flec-moment-font: #b8b8b8;
  --flec-moment-title: #ddd;
  --flec-moment-date: #bbb;
  --flec-moment-divider: #555;
  --flec-moment-card-bg: #222;

  --flec-subscribe-button: #9f9f9f;
  --flec-subscribe-blue: #425aef;
  --flec-subscribe-font: #b8b8b8;
  --flec-subscribe-background: #2d2d2d;
  --flec-subscribe-secondbg: #363636;
  --flec-subscribe-card-border: #555;
  --flec-subscribe-wechat: #28c125bb;
  --flec-subscribe-mail: #425aefbb;
  --flec-subscribe-rss: #e38100bb;
}